# ==========================
# Python
# ==========================
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
.venv/
env/

# Environment Variables
.env

# VS Code
.vscode/

# JetBrains
.idea/

# Streamlit
.streamlit/secrets.toml

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Jupyter
.ipynb_checkpoints/

# Build
build/
dist/
*.egg-info/

# Uploads
uploads/
dashboard/uploads/

# Cache
.pytest_cache/
.mypy_cache/

# ChromaDB
chroma_db/

# Model Cache
.cache/
